html,body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	font-family: sans-serif;
	font-weight: lighter;
	color: #00829A;
	position: relative;
}

.wrapper {
	margin: 0 auto;
	max-width: 1280px;
	margin-top: 1px;
	height: auto;
	overflow: hidden;
	position: relative;
}

.menuBox {
	float: left;
	width: 200px;
	height: auto;	
}

.infoTlf {
	font-size: 1.5em;
	padding-top: 4%;
	margin-left: 6%;
}

.infoAddr {
	margin-left: 6%;
	font-size: 1.1em;
}

.star{
	margin-top: 5%;
	margin-left: 6%;
}

.leftMenu ul {
	position: relative;
	left: -40px;
	width: 188px;
}

.leftMenu ul li{
	list-style-type: none;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.leftMenu ul li.mainHeader {
	background-color: #00829A;
	color: #FFFFFF;
	padding-left: 15px;	
}


.leftMenu li a {
	text-decoration: none;
	color: #00829A;
}

.vkGroup iframe {
	width: 200px;
	height: 300px;
}

.main{
	padding-left: 220px;
	width: 1060px;
	height: auto;
}

.header {
	height: 223px;
}

.search search {
	float: right;
	margin-left: 0px;
}

.search input {
	border: 1.5px solid #0099B8;
	width: 328px;
	height: 44px;
	font-style: italic;
	font-size: 1em;
	text-indent: 1.3em;
 	margin-left: 67.5%;
}

.textHead {
	position: relative;
	width: 799px;	
	color: black;
	font-size: 0.9em;
	font-weight: normal;
	line-height: 1.6;
}

.textHead h1 {
	height: 30px;
	font-size: 1.7em;
	font-weight: lighter;
}

/*#topHead{
	font-weight: lighter;
}*/

.textHead a {
	font-weight: normal;
	font-size: 1.8em;
	color: #1A78C0;
}

.rightMenu {
	width: 230px;
	height: 254px;
	background-color: #A9E0FF;
	margin-left: 77%;
	margin-top: -26%;
}

.rightMenu ul{
	list-style-type: none;
}

.rightMenu ul li {
	position: relative;
	height: 35px;	
	padding-left: 10%;
	padding-top: 10%;	
}

.rightMenu ul li::before {
	display: block;
	content: ' ';
	position: absolute;
	width: 35px;
	height: 35px;
	background: url('../images/clock.png');
	background-repeat: no-repeat;
	margin-left: 7%;
	margin-top: -3%;
	left: -40px;
	/*top: -5px;*/
}

.rightMenu li a {
	color: black;
	font-weight: 600;
	font-size: 0.79em;
}

.threeColumn {
	width: 1044px;
	height: auto;
	position: relative;	
	padding-top: 1%;
}

.leftColumn {
	width: 245px;
	height: auto;
	position: relative;
	float: left;
	display: inline;
}

.leftColumnTop {
	padding-top: 1px;
	position: relative;
	background-color: #AED4EB;
	width: 245px;
	height: 475px;	
	color: black;
	font-size: 0.9em;
}

.leftColumnTop h2 {
	font-weight: lighter;
	font-size: 1.3em;	
	padding-top: 7%;
    padding-left: 35px;
    height: 4%;
}

.departure {
	padding-left: 16%;
	width: 70%;	
}
.departure input  {
	width: 78%;
}

.duration {
	padding-left: 17%;
	width: 65.6%;
}
.duration input {
	width: 35%;
}
.ship {
	padding-left: 17%;
}

.city {
	padding-left: 17%;
}

.parking {
	padding-left: 17%;
}

.button {
	/*padding-left: 21%;*/
	padding-top:18%;
	text-align: center;
}
.button a {
	background-color: #FBB03B;
	border: none;
	text-decoration: none;
	color: black;
	padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 3px 2px 9px -2px #666666;
}

/*.formaButton {
	background-color: #FBB03B;
	border: none;
}*/

.leftColumnBottom {
	position: relative;
	background-color: #A9E0FF;
	margin-top: 10px;
	width: 245px;
	height: 303px;	
	color: black;
}

.leftColumnBottom h3 {
	font-weight: normal;
	font-size: 1em;	
	line-height: 1.6;
	padding-left: 15%;
	padding-top: 7%;
}

.leftColumnBottom p {
	font-size: 0.75em;
	text-align: justify;
	line-height: 1.4;
	padding-left: 9%;
	padding-right: 9%;
}

.bottomBorder {
	position: relative;
	padding-top: 38px;
	width: 245px;	
	background: url('../images/bottom_border.png');
	background-repeat: repeat-x;
	background-position: bottom;		
}

.middleColumn {
	margin-left: 2%;
	position: relative;
	width: 352px;
	height: 802px;
	background-color: #E5F6FE;
	display: inline;
	float: left;
	color: black;
}

h3#news {
	padding-left: 20%;	
	padding-top: 3%;
	font-weight: lighter;
    font-size: 1.4em;
    height: 1%;
}

h4#offer {
	padding-left: 20%;	
	font-weight: lighter;
    font-size: 1.1em;
	
}

.middleImage {
	padding-left: 8%;		
	float: left;
	width: 34px;
    height: 34px;
}

.border {
	width: 335px;
}

.date {
	color: black;
	font-size: 0.8em;
	font-weight: lighter;
	padding-left: 3%;
}

.news {
	float: right;
	font-size: 0.8em;
	font-weight: lighter;
	padding-left: 21%;
	margin-top: -4%;
}	

a.middleRef {
	color: black;
	text-decoration: none;		
}
.newsButton {
	padding-top: 20%;
	text-align: center;
}
.newsButton a {
	color: white;
	text-decoration: none;
	width: 200px;
    height: 35px;
    background-color: #1878C2;
	border: none;
	padding-left: 55px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 3px 2px 9px -2px #666666;
    /*margin-left: 21%;
    padding-left: 3%;
    margin-top:20px;*/
}
/*.formaNewsButton {
	background-color: #1878C2;
	border: none;
	color: white;
	width: 200px;
    height: 35px;
    margin-left: 21%;
    padding-left: 3%;
    margin-top:20px;
}*/

.rightColumn {
	width: 406px;
	height: 802px;	
	float: right;
	color: black;
	font-size: 0.8em;
	line-height: 1.5em;
}

.rightColumn h3 {
	color: #1A78C0;
	font-weight: lighter;
	font-size: 1.6em;
	line-height: 0.9em;
}

.rightColumn h3 p {
	line-height: 0.5em;
}


#rightHead p {
	color: #1A78C0;
	font-size: 0.83em;
}

.rightColumn ul  {
	list-style-type: none;
}

.rightColumn ul li {
		position: relative;
		line-height: 2.5em;
}

.rightColumn ul li::before {
	display: block;
	content: ' ';
	position: absolute;
	background: url('../images/dot.png');
	background-repeat: no-repeat;
	width: 8px;
	height: 8px;
	left: -20px;
	top: 10px;

}

.textBottom {
	clear: both;
	padding-top: 2%;
	color: black;
	font-size: 0.9em;
	text-align: justify;
	line-height: 1.6;
}

.textBottom h2 {	
	font-size: 1.8em;
	font-weight: lighter;	
}

.footer {
	clear: both;	
	width: 100%;
	height: 222px;
	margin-top: 5%;
	background-image: url('../images/footer.png');
	background-repeat: no-repeat;
	width: 100%;
}

.textLineTop {
	padding-top: 6.5%;
	margin-left: 29%;
	color: #1A78C0;
	font-weight: lighter;
	font-size: 0.9em;
}

.textLineTop a {
	color: #1A78C0;
	text-decoration: none;
}

.textLineBottom {
	margin-left: 29%;
	color: #1A78C0;
	font-weight: lighter;
	font-size: 0.9em;
}

.textLineBottom img {
	margin-top: 0.3%;
}

.textLineBottom a {
	color: #1A78C0;
	text-decoration: none;
}
